@model rivals.app.Models.SpikeModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SpikeItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Datum" class="control-label"></label>
                <input asp-for="Item.Datum" class="form-control" />
                <span asp-validation-for="Item.Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ID" class="control-label"></label>
                <input asp-for="Item.ID" class="form-control" />
                <span asp-validation-for="Item.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.DocumentType" class="control-label"></label>
                <input asp-for="Item.DocumentType" class="form-control" disabled/>
                <span asp-validation-for="Item.DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Region" class="control-label"></label>
                <input asp-for="Item.Region" class="form-control" disabled/>
                <span asp-validation-for="Item.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
